@model EmployeeViewModel
<div class="form-group">
    <label class="form-label fw-bold">FirstName</label>
    <input type="text" class="form-control" asp-for="FirstName" id="firstname" />
    <span asp-validation-for="FirstName"></span>
</div>
<div class="form-group">
    <label class="form-label fw-bold">LastName</label>
    <input type="text" class="form-control" asp-for="LastName" id="lasttname" />
    <span asp-validation-for="LastName"></span>
</div>
<div class="form-group ">
    <label for="datetimepicker" class="form-label fw-bold">DOB</label>
    <input type="date" asp-for="DateOfBirth" class="form-control" />
    <span asp-validation-for="DateOfBirth"></span>
</div>
<div class="form-group">
    <label class="form-label fw-bold">Gender</label>
    <div class="d-flex">
        <div class="form-check px-4">
            <input type="radio" class="form-check-input" asp-for="Gender" name="gender" value="male" checked />
            <lable class="form-label">Male</lable>
        </div>
        <div class="form-check px-4">
            <input type="radio" class="form-check-input" asp-for="Gender" name="gender" value="female" />
            <lable class="form-label">FeMale</lable>
        </div>
    </div>
    <span asp-validation-for="Gender"></span>
</div>
<div class="form-group">
    <label class="form-label fw-bold">Email</label>
    <input type="email" class="form-control" asp-for="Email" id="email" />
    <span asp-validation-for="Email"></span>
</div>
<div class="form-group">
    <label class="form-label fw-bold">Phone</label>
    <input type="tel" class="form-control" asp-for="Phone" id="phone" />
    <span asp-validation-for="Phone"></span>
</div>
<div class="form-group">
    <label class="form-label fw-bold">Address</label>
    <textarea class="form-control" asp-for="Address" id="address"></textarea>
    <span asp-validation-for="Address"></span>
</div>

<div class="form-group d-flex">
    <input type="checkbox" class="form-check" asp-for="IsActive" />
    <lable class="form-label fw-bold">MarkAsActive</lable>
</div>
<div class="form-group">
    <label class="form-label fw-bold">Choose Department</label>
    <select class="dropdown" asp-for="DepartmentId" asp-items="@ViewBag.Departments">
        <option value="">Select a department</option>
    </select>

</div>
