@model EmployeeViewModel
@{
    ViewBag.Title = "Edit-Employee";
}
<div class="form-check">
    <form class="form-check" asp-controller="Employee" asp-action="EditEmployee" method="post">
        <div class="form-group">
            <input type="text" asp-for="EmployeeId" hidden/>
        </div>
        <div>
        @await Html.PartialAsync("_Employeeformfeilds")
        </div>
        <div class="form-group">
            <button class=" btn btn-warning" type="submit">Update</button>
            <button class="btn btn-danger" type="submit" asp-action="Index" asp-controller="Employee">Cancel</button>

        </div>
    </form>
</div>
<script>
<script src="~/lib/jquery/dist/jquery.js" ></script>
<script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
</script>